/* src/components/app.css */
body {
  background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.app {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: #666;
}
.quote {
  color: white;
  margin: 2rem 0;
  padding: 3rem;
  font-size: 3rem;
  font-family: "Diphylleia", serif;
  background-color: lightseagreen;
  border-radius: 8px;
  font-weight: bolder;
}
.quote::first-letter {
  color: orange;
  font-weight: bold;
}
.author {
  text-transform: capitalize;
  color: #eee;
  font-weight: normal;
  text-align: right;
  font-size: 1.5rem;
}
